In [1]:
import pandas as pd

#### `user`별로 `csv`파일 읽기

- datetime : 시간 (index)
- active_power : 유효전력 (목표값)
- month : 월
- week : 주
- weekday : 월~금(0), 토~일(1)
- day : 일
- hour : 시간
- is_holiday : 공휴일(1), 비공휴일(0) 
- ...온도, 습도 추가 예정

#### '일반용(갑)저압_AA11동 AA110호' 의 데이터 불러오기

In [25]:
pd.read_csv('preprocessed data/일반용(갑)저압_AA11동 AA110호.csv', index_col = 'datetime')

                     active_power  month  week  weekday  day  hour  is_holiday
datetime
2017-08-01 00:00:00          0.11      8    31        1    1     0           0
2017-08-01 00:15:00          0.06      8    31        1    1     0           0
2017-08-01 00:30:00          0.06      8    31        1    1     0           0
2017-08-01 00:45:00          0.05      8    31        1    1     0           0
2017-08-01 01:00:00          0.05      8    31        1    1     1           0
2017-08-01 01:15:00          0.05      8    31        1    1     1           0
2017-08-01 01:30:00          0.05      8    31        1    1     1           0
2017-08-01 01:45:00          0.05      8    31        1    1     1           0
2017-08-01 02:00:00          0.06      8    31        1    1     2           0
2017-08-01 02:15:00          0.06      8    31        1    1     2           0
2017-08-01 02:30:00          0.05      8    31        1    1     2           0
2017-08-01 02:45:00          0.05      8    31        1    1     2           0
2017-08-01 03:00:00          0.05      8    31        1    1     3           0
2017-08-01 03:15:00          0.03      8    31        1    1     3           0
2017-08-01 03:30:00          0.02      8    31        1    1     3           0
2017-08-01 03:45:00          0.02      8    31        1    1     3           0
2017-08-01 04:00:00          0.02      8    31        1    1     4           0
2017-08-01 04:15:00          0.02      8    31        1    1     4           0
2017-08-01 04:30:00          0.02      8    31        1    1     4           0
2017-08-01 04:45:00          0.02      8    31        1    1     4           0
2017-08-01 05:00:00          0.02      8    31        1    1     5           0
2017-08-01 05:15:00          0.02      8    31        1    1     5           0
2017-08-01 05:30:00          0.02      8    31        1    1     5           0
2017-08-01 05:45:00          0.02      8    31        1    1     5           0
2017-08-01 06:00:00          0.02      8    31        1    1     6           0
2017-08-01 06:15:00          0.02      8    31        1    1     6           0
2017-08-01 06:30:00          0.02      8    31        1    1     6           0
2017-08-01 06:45:00          0.02      8    31        1    1     6           0
2017-08-01 07:00:00          0.02      8    31        1    1     7           0
2017-08-01 07:15:00          0.02      8    31        1    1     7           0
...                           ...    ...   ...      ...  ...   ...         ...
2018-02-28 16:45:00          0.19      2     9        2   28    16           0
2018-02-28 17:00:00          0.17      2     9        2   28    17           0
2018-02-28 17:15:00          0.28      2     9        2   28    17           0
2018-02-28 17:30:00          0.30      2     9        2   28    17           0
2018-02-28 17:45:00          0.30      2     9        2   28    17           0
2018-02-28 18:00:00          0.32      2     9        2   28    18           0
2018-02-28 18:15:00          0.33      2     9        2   28    18           0
2018-02-28 18:30:00          0.31      2     9        2   28    18           0
2018-02-28 18:45:00          0.37      2     9        2   28    18           0
2018-02-28 19:00:00          0.43      2     9        2   28    19           0
2018-02-28 19:15:00          0.40      2     9        2   28    19           0
2018-02-28 19:30:00          0.36      2     9        2   28    19           0
2018-02-28 19:45:00          0.35      2     9        2   28    19           0
2018-02-28 20:00:00          0.37      2     9        2   28    20           0
2018-02-28 20:15:00          0.34      2     9        2   28    20           0
2018-02-28 20:30:00          0.33      2     9        2   28    20           0
2018-02-28 20:45:00          0.33      2     9        2   28    20           0
2018-02-28 21:00:00          0.29      2     9        2   28    21           0
2018-02-28 21:15:00          0.30      2     9        2   28    21           0
2018-02-28 21:30:00          0.23      2     9        2   28    21           0
2018-02-28 21:45:00          0.22      2     9        2   28    21           0
2018-02-28 22:00:00          0.22      2     9        2   28    22           0
2018-02-28 22:15:00          0.23      2     9        2   28    22           0
2018-02-28 22:30:00          0.20      2     9        2   28    22           0
2018-02-28 22:45:00          0.16      2     9        2   28    22           0
2018-02-28 23:00:00          0.12      2     9        2   28    23           0
2018-02-28 23:15:00          0.15      2     9        2   28    23           0
2018-02-28 23:30:00          0.16      2     9        2   28    23           0
2018-02-28 23:45:00          0.13      2     9        2   28    23           0
2018-03-01 00:00:00          0.12      3     9        3    1     0           1

[20353 rows x 7 columns]

In [26]:
pd.read_csv('preprocessed data/일반용(갑)저압_AA11동 AA114호.csv', index_col = 'datetime')

                     active_power  month  week  weekday  day  hour  is_holiday
datetime
2017-08-01 00:00:00          0.19      8    31        1    1     0           0
2017-08-01 00:15:00          0.47      8    31        1    1     0           0
2017-08-01 00:30:00          0.47      8    31        1    1     0           0
2017-08-01 00:45:00          0.47      8    31        1    1     0           0
2017-08-01 01:00:00          0.47      8    31        1    1     1           0
2017-08-01 01:15:00          0.47      8    31        1    1     1           0
2017-08-01 01:30:00          0.47      8    31        1    1     1           0
2017-08-01 01:45:00          0.47      8    31        1    1     1           0
2017-08-01 02:00:00          0.47      8    31        1    1     2           0
2017-08-01 02:15:00          0.46      8    31        1    1     2           0
2017-08-01 02:30:00          0.46      8    31        1    1     2           0
2017-08-01 02:45:00          0.46      8    31        1    1     2           0
2017-08-01 03:00:00          0.46      8    31        1    1     3           0
2017-08-01 03:15:00          0.46      8    31        1    1     3           0
2017-08-01 03:30:00          0.46      8    31        1    1     3           0
2017-08-01 03:45:00          0.46      8    31        1    1     3           0
2017-08-01 04:00:00          0.46      8    31        1    1     4           0
2017-08-01 04:15:00          0.46      8    31        1    1     4           0
2017-08-01 04:30:00          0.46      8    31        1    1     4           0
2017-08-01 04:45:00          0.46      8    31        1    1     4           0
2017-08-01 05:00:00          0.46      8    31        1    1     5           0
2017-08-01 05:15:00          0.46      8    31        1    1     5           0
2017-08-01 05:30:00          0.46      8    31        1    1     5           0
2017-08-01 05:45:00          0.46      8    31        1    1     5           0
2017-08-01 06:00:00          0.46      8    31        1    1     6           0
2017-08-01 06:15:00          0.46      8    31        1    1     6           0
2017-08-01 06:30:00          0.46      8    31        1    1     6           0
2017-08-01 06:45:00          0.46      8    31        1    1     6           0
2017-08-01 07:00:00          0.46      8    31        1    1     7           0
2017-08-01 07:15:00          0.47      8    31        1    1     7           0
...                           ...    ...   ...      ...  ...   ...         ...
2018-02-28 16:45:00          0.13      2     9        2   28    16           0
2018-02-28 17:00:00          0.13      2     9        2   28    17           0
2018-02-28 17:15:00          0.14      2     9        2   28    17           0
2018-02-28 17:30:00          0.14      2     9        2   28    17           0
2018-02-28 17:45:00          0.14      2     9        2   28    17           0
2018-02-28 18:00:00          0.14      2     9        2   28    18           0
2018-02-28 18:15:00          0.14      2     9        2   28    18           0
2018-02-28 18:30:00          0.14      2     9        2   28    18           0
2018-02-28 18:45:00          0.15      2     9        2   28    18           0
2018-02-28 19:00:00          0.15      2     9        2   28    19           0
2018-02-28 19:15:00          0.15      2     9        2   28    19           0
2018-02-28 19:30:00          0.15      2     9        2   28    19           0
2018-02-28 19:45:00          0.15      2     9        2   28    19           0
2018-02-28 20:00:00          0.15      2     9        2   28    20           0
2018-02-28 20:15:00          0.16      2     9        2   28    20           0
2018-02-28 20:30:00          0.16      2     9        2   28    20           0
2018-02-28 20:45:00          0.16      2     9        2   28    20           0
2018-02-28 21:00:00          0.16      2     9        2   28    21           0
2018-02-28 21:15:00          0.16      2     9        2   28    21           0
2018-02-28 21:30:00          0.16      2     9        2   28    21           0
2018-02-28 21:45:00          0.17      2     9        2   28    21           0
2018-02-28 22:00:00          0.17      2     9        2   28    22           0
2018-02-28 22:15:00          0.17      2     9        2   28    22           0
2018-02-28 22:30:00          0.17      2     9        2   28    22           0
2018-02-28 22:45:00          0.17      2     9        2   28    22           0
2018-02-28 23:00:00          0.17      2     9        2   28    23           0
2018-02-28 23:15:00          0.17      2     9        2   28    23           0
2018-02-28 23:30:00          0.17      2     9        2   28    23           0
2018-02-28 23:45:00          0.17      2     9        2   28    23           0
2018-03-01 00:00:00          0.17      3     9        3    1     0           1

[20353 rows x 7 columns]